.background-dark-gray {
  background-color: $daangn-dark-gray;
}

.footer {
  padding: 50px;

  &-nav {
    max-width: $box-width-1;
    margin: 0 auto;
    padding: 50px 0;
    color: $daangn-gray-4;
    @include flex-align-start();

    &__item {
      li {
        padding: 8px 0;

        &:hover {
          text-decoration: underline;
        }
      }

      @include media(tablet) {
        @include flex-compact();
        .not-end::after {
          margin: 0 0.8rem;
          content: '|';
        }
      }
    }

    &__img {
      filter: brightness(100) saturate(0);

      @include media(tablet) {
        display: none;
      }
    }

    @include media(tablet) {
      flex-direction: column;
      padding: 20px 0;
    }
  }

  &-info {
    max-width: $box-width-1;
    margin: 0 auto;

    &__line {
      height: 1px;
      margin: 30px 0;
      background-color: $daangn-gray-3;
      border: 0;

      @include media(tablet) {
        display: none;
      }
    }

    &__item {
      @include flex-compact();

      p {
        margin: 0 15px 5px 0;
        color: $daangn-gray-4;
        font-size: $type-size-4;

        span {
          color: $daangn-gray-3;
        }
      }

      &--description {
        @include flex-compact();
        padding: 15px 0;
        color: $daangn-gray-3;
        font-size: $type-size-4;
		
        @include media(tablet) {
          display: block;
        }
      }

      @include media(tablet) {
        flex-direction: column;
        align-items: stretch;
      }
    }

    .info-list {
      &__item {
        padding-right: 20px;

        &--country {
          display: inline-block;
          margin: 10px;

          img {
            height: 24px;
            padding: 0 0 0 30px;
          }

          span {
            margin: 0;
            color: $daangn-gray-4;
            font-size: $type-size-2;
            line-height: 24px;
            text-decoration: underline;
            vertical-align: top;
          }
        }
      }
    }
  }
}
