h1,
h2,
h3,
h4 {
  margin-top: 0;
  margin-bottom: 1.5rem;
  color: black;
  line-height: 1.2;
}

h1 {
  font-size: $h-size-1;
}

h2 {
  font-size: $h-size-2;
}

h3 {
  font-size: $h-size-3;
}

p {
  font-size: $type-size-3;
}
