/* Colors */
$daangn-main-color: #ff8a3d !default;

$daangn-beige: #fbf7f2 !default;
$daangn-green: #e6f3e6 !default;

$daangn-white: #ffffff !default;

$daangn-gray: #f8f9fa !default;
$daangn-gray-2: #ecedee !default;
$daangn-gray-3: #82868a !default;
$daangn-gray-4: #b5b7b9 !default;
$daangn-gray-5: #cfd1d3 !default;
$daangn-gray-6: #e2e5e7 !default;

$daangn-dark-gray: #495057 !default;

/* headline scale */
$h-size-1: 2.9rem !default;
$h-size-2: 2.5rem !default;
$h-size-3: 0.9rem !default;

/* type scale */
$type-size-1: 1.5rem !default;
$type-size-2: 1.1rem !default;
$type-size-3: 1rem !default;
$type-size-4: 0.8rem !default;

/* box width */
$box-width-1: 1024px !default;
$box-width-2: 992px !default;
